<div class="row float-center"  *ngFor="let cart of carts">
<mat-card class="example-card my-5">
  <mat-card-header class="container float-left">
     <div class="w-25 mx-auto float-left">
       
      <img src={{cart.img}} class="rounded-circle img-fluid border border-dark" >
    </div>
     <mat-card-title>{{cart.pos}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="text-center mt-2">
      <mat-card-subtitle >{{cart.name}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions class="float-right">
    <div class="button-row">
    <button (click)="getParent(cart)" mat-mini-fab color="primary" mat-button [matMenuTriggerFor]="menu">+</button>
<mat-menu #menu="matMenu">
  <button (click)="createNewCard()" mat-menu-item>Add</button>
  <button (click)="get_Detail(cart)" type="button" mat-menu-item>Detail</button>
  <button (click)="delete_Cart(cart.id)" mat-menu-item>Remove</button>
</mat-menu>
    </div>
  </mat-card-actions>
</mat-card>
</div>