@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
}
.example-card:hover {
  max-width: 400px;
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.example-header-image {
  background-size: auto;
}

#frame {
            overflow:visible;
}

#drawing {
            overflow:visible;
        }
#deneme{
    display: table-column-group;
    position: fixed;
    overflow: scroll;
    outline: ridge;
    height: 100%;
    min-height: 100%;
}
